$backgroundSectionLight: #fff;
$borderCardShare: #e8ecee;
$backgroundCarousel: #53354a;
$backgroundFooter: #3a3e64;
$backgroundFooterDarker: #313454;

//
$buttonHover: #ff0303;
$buttonColor: #e54208;
$workItemHover: #e84545;

$textColorDark: #6c7279;
$textColorDarker: #2d3033;
$textColor: #e54208;
$textColorCardH4: #e84545;
$textColorLight: #fff;
$textColorNav: #c7c8cd;
$textColorCopyright: #c7c8cd;

//$textColorDarkHover: #edeff1;

//$textColorForm: #f3f4f6;
//
//$textColorButton: #4e5159;
//$textColorButtonRegular: #612316;

$baseFontSize: 14px;


//$lineHeightP: 30px;
//
//
$fontSizeButton: 13px;
//$fontSizeh2: 30px;
//$fontSizeLogo: 36px;
//$fontSizeH2: 30px;
//
//$marginBotContentItem: 30px;

$marginBtn: 40px;

$paddingCard20: 20px;
$paddingCard30: 30px;

$xs: 320px;
$small: 543px;
$medium: 777px;

$fence-xs: $xs $small;
$fence-sm: $small $medium;
$fence-xs-md: $xs $medium;
