.container-card {
  margin-bottom: $paddingCard30;
}

.icon-servises {
  width: 80px;
  height: 60px;
  margin: 0 auto;
}

.card-container-padding {
  padding-top: $paddingCard30;
}
.card-content-padding {
  padding: $paddingCard30 $paddingCard20;
}

.card-image {
  margin-bottom: 30px;
}

.card-content {
  h2 {
    font-size: 1.375rem;
    color: $textColorDarker;
  }
  h3 {
    font-size: $baseFontSize;
    font-weight: 700;
    text-transform: uppercase;
    color: $textColorDarker;
  }
  h4 {
    font-size: 0.928571rem;
    color: $textColorCardH4;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  p {
    color: $textColorDark;
    line-height: 1.3125rem;
  }
}

.card-share-icon {
  border: 1px solid $borderCardShare;
  height: 38px;
  width: 38px;
  margin-right: 4px;
  @include transition-duration(0.5s);
  &:nth-child(1) {
    background-image: image-url("share-icon.png");
    background-repeat: no-repeat;
    background-position: 15px 10px;
  }
  &:nth-child(2) {
    background-image: image-url("share-icon.png");
    background-repeat: no-repeat;
    background-position: -19px 10px;
  }
  &:nth-child(3) {
    background-image: image-url("share-icon.png");
    background-repeat: no-repeat;
    background-position: -55px 10px;
  }
  &:hover {
    background-color: $buttonHover;
  }
}
